body {
	
	background-color: black; /* This is a number from 0-255 */
	font-family:"Nova Round";
	margin-bottom:40rem;
}
br {
	font-size:10;
}
h1 {
	color: white;
	font-size:50;
	margin-top: 20;
}

p {
	color: white;
}
button {
	background-color: black;
	padding: 10px 10px;
	border-radius: 20px;
	color: #C2FEFA;
	font-family: "Nova Round";
	border: 1px solid #C2FEFA;
	margin-bottom: 1rem;
	font-size: 20;

}
button:hover {
	background-color: #C2FEFA;
	padding: 10px 10px;
	border-radius: 20px;
	color: black;
	font-family: "Nova Round";
	border: 1px solid black;
}
.actionButtonDiv {
	margin-left:0rem;
	width: 80%;

}
.actionButton {
	margin-right: 0.8rem;
	opacity:0;
	font-size:15;
	border: 1px solid #99FEB4;
	color: #99FEB4;
}
.actionButton:hover {
	background-color: #99FEB4;
	color: black;
}

:focus {
	outline: none;
}

.actionTextDiv {
	color: white;
	opacity: 0;
}
#bitBigger {
	font-size: 23;
}