body {
	
	background-color: black; /* This is a number from 0-255 */
	font-family:"Press Start 2P";
	
	text-align: center;
}
#main{
	padding:0;
	margin:0;
	text-align:center;
	image-rendering: pixelated;
}
br {
	font-size:10;
}
h1 {
	color: white;
	font-size:100;
	margin-top: 170;
	border-radius: 20px;
	margin-bottom:0;
}

p {
	color: white;
	font-size:15;
}
#interns{
	font-size:9;
}
button {
	background-color: black;
	padding: 15px 15px;
	border-radius: 0px;
	color: white;
	font-family: "Press Start 2P";
	border: 1px solid white;
	margin-bottom: 1rem;
	font-size: 36;

}
button:hover {
	background-color: white;
	padding: 15px 15px;
	border-radius: 0px;
	color: black;
	font-family: "Press Start 2P";
	border: 1px solid black;

}
#startMenuButtons{
	text-align:center;
	padding:70px 0;
	z-index:4;
}
#options {
	font-size:11;
}
#about{
	font-size:11;
}
.startMenu {
	opacity:1;
	z-index:5;
}
.map {
	top:-2vh;
	position:absolute;
	z-index:-2;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
img {

	border: 1px solid white;
	z-index:-1;
	image-rendering: pixelated;
}


/* The switch - the box around the slider */
h2 {
	color: white;
	position: relative;
	display: inline-block;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}