body {
	
	background-color: black; /* This is a number from 0-255 */
	font-family:"Press Start 2P";
	
	text-align: center;
}
#main{
	padding:0;
	margin:0;
	text-align:center;
	image-rendering: pixelated;
}
br {
	font-size:10;
}
h1 {
	color: white;
	font-size:100;
	margin-top: 170;
	border-radius: 20px;
	margin-bottom:0;
}

p {
	color: white;
	font-size:15;
}
#interns{
	font-size:9;
}
button {
	background-color: black;
	padding: 15px 15px;
	border-radius: 0px;
	color: white;
	font-family: "Press Start 2P";
	border: 1px solid white;
	margin-bottom: 1rem;
	font-size: 36;

}
button:hover {
	background-color: white;
	padding: 15px 15px;
	border-radius: 0px;
	color: black;
	font-family: "Press Start 2P";
	border: 1px solid black;

}
#startMenuButtons{
	text-align:center;
	padding:70px 0;
	z-index:4;
}
#options {
	font-size:11;
}
#about{
	font-size:11;
}
.startMenu {
	opacity:1;
	z-index:5;
}
.map {
	top:-2vh;
	position:absolute;
	z-index:-2;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
img {

	border: 1px solid white;
	z-index:-1;
}

.drawingBoard {
	z-index:5;
	top:8vh;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	width:1200;
	height:800;
	border: 1px solid blue;
}