body{
	font-family:Georgia;
	background-color: rgb(255,255,153);
}
#square-container{
	border:1px solid blue;
	position: relative;
	height: 300px;
	width: 300px;

}

#square {
	background: blue;
	position: absolute;
	height: 20px;
	width: 20px;
	left:200px;
	top:0px;

}

#circle {
	background: green;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;

}

.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

